@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&display=swap");

/* Custom properties/variables  */
:root {
  /*font */
  --title-font-family: "Montserrat", sans-serif;
  --title-color: #457b9d;
  --paragraph-font-family: "Merriweather", serif;
  --main-white: #f1faee;
  /* background */
  --proyect-bg: #1d3557;
  --background-hover: #e63946;
}

/* Base reset */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 54%;
  }
}

body {
  font-family: var(--paragraph-font-family);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
}

h1,
h2 {
  font-family: var(--title-font-family);
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 4.2rem;
  color: var(--main-white);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  display: block;
  width: 100%;
}

/* Header  */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--title-color);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  position: relative;
  font-size: 2rem;
  padding: 2rem 1.7rem;
}

.nav-list a:hover {
  background: var(--background-hover);
}

/*Start Main */

/*welcome-section*/
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--main-white);
}
/* Start Typewriter Effect*/
.welcome-section h1 {
  font-size: 6rem;
  color: var(--title-color);
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--title-color);
  overflow: hidden;
  white-space: nowrap;

  width: 0ch;

  animation: typing 4s 2s steps(20, end) forwards,
    blink 0.7s 2s infinite step-end alternate;
}

@keyframes typing {
  from {
    width: 0%;
    border-right: 0.22rem solid #18bdec;
  }

  to {
    width: 18ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* End Typewriter Effect*/
@media (max-width: 28.75em) {
  .welcome-section > p {
    margin: 0 1.2rem;
  }
}

@media (max-width: 19.62em) {
  .welcome-section > p {
    animation: none;

    width: 80%;
    margin: 0 1.2rem 0 1.4rem;
    word-wrap: normal;
    white-space: normal;
  }
}

/* Projects section */
.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background-color: var(--proyect-bg);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}
.project {
  background-color: var(--title-color);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.project-image {
  height: calc(100% - 3rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.project:hover {
  background-color: var(--background-hover);
}

.project:hover p {
  color: var(--main-white);
}

/* Contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background-color: var(--main-white);
}

.contact-section-header > h2 {
  font-size: 6rem;
  color: var(--title-color);
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}
.contact-details {
  font-size: 2.4rem;
  color: var(--proyect-bg);
  margin-right: 4rem;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
  color: var(--title-color);
}

@media (max-width: 31.4em) {
  .contact-section-header > h2 {
    margin-top: 4rem;
    font-size: 4rem;
  }

  .contact-links {
    flex-direction: column;
  }

  .contact-details {
    font-size: 3rem;
    margin-bottom: 4rem;
    transition: none;
  }

  .contact-details:hover {
    transform: none;
  }
}

/* end main */

/* Footer */

footer {
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: var(--main-white);
  color: var(--proyect-bg);
  border-top: 4px solid var(--title-color);
}
